*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header{
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: #d8d8d8
}

.leftside-div{
    width: 220px;
    padding: 10px;
}

.center-div{
    width: 600px;
    padding: 8px;
}

.search-box{
    width: 570px;
    height: 46px;
    padding: 22px;
    font-size: 17px;
    border-radius: 15px;
    border: none;
    background-color: rgb(241, 245, 254);
    font-family: Poppins;
}

.search-box:focus {
    outline: none;
}

.rightside-div{
    width: 620px;
}

.right-side-list{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 60px;
}

.list-items{
    cursor: pointer;
    font-family: Poppins;
    margin-right: 130px;
}

.list-img{
    width: 26px;
    margin-right: 10px;
}